.button {
  font: inherit;
  border: 1px solid #741188;
  background: #741188;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 16px;
}

.button:hover,
.button:active {
  background: #d790e6;
  border-color: #d790e6;
}

.button:focus {
  outline: 2px solid black;
}
